TURSO_DATABASE_URL="libsql://master-db-tu-usuario.turso.io"
TURSO_AUTH_TOKEN="tu_token_secreto_de_la_master_db"
AUTH_SECRET="tu_hash_super_secreto_aqui"
TURSO_ORG_NAME="slug_organizacion_en_turso" 
TURSO_API_TOKEN="token_secreto_para_acceder_a_la_api_de_turso"